* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  height: 50px;
  align-items: center;
  color: white;
  background-color: black;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navList > li > a {
  color: white;
  text-decoration: none;
}
.navList > li > a:hover {
  color: #e74e35;
  font-size: small;
}

.logo {
  width: 20%;
}

.navList {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.container {
  position: relative;
}

.page {
  height: 800px;
  padding: 0 1rem;
}

#home {
  height: 100vh;
  display: flex;
  background-color: #e74e35;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  justify-content: center;
  margin: auto;
  align-content: center;
  align-items: center;
}

.intro > h1 {
  color: white;
}

#about {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.aboutText {
  width: 50%;
  padding: 0 0.5rem;
}

.aboutImage {
  width: 50%;
}

.aboutText > h3 {
  color: #e74e35;
}

#contactMe {
  background-color: #e74e35;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#futureProjects {
  text-align: center;
  height: 100vh;
  padding: 4rem 0;
}

.futureImages > ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
}

.futureImages > ul > li > a {
  text-decoration: none;
}

.futureImages > ul > li > a > p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: small;
}

.futureImages > ul > li > a:hover img{
  transform: scale(1.5);
  box-shadow: 0 0 10px #e74e35;
}

footer {
  background-color: black;
  color: white;
}

.footerProperty {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footerList {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
}

.footerList > ul > li > a {
  color: white;
  text-decoration: none;
}
.footerList > ul > li > a:hover {
  color: #e74e35;
  font-size: small;
}

.footerContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footerContent > a {
  color: white;
  text-decoration: none;
}

.footerContent > a:hover {
  color: #e74e35;
  font-size: large;
}

.footerIcons > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerIcons > ul > li {
  margin: 0.5rem 0.5rem;
}

.footerIcons > ul > li > a {
  color: white;
  text-decoration: none;
}

.footerIcons > ul > li > a:hover {
  color: #e74e35;
}
